<div class="container">
  <div class="row">
    <div class= col-11>
      <h3 class="m-4 text-center">商品一覧</span></h3>
    </div>
<!--新規登録への移行ボタン-->
    <div class="col-1">
      <p class="my-4"><%= link_to new_admin_item_path do %>
        <button type="button" class="btn btn rounded-circle p-0 bg-success text-white"
        style="width:6rem;height:3rem;">新規</button>
      <% end %></p>
    </div>
    <div class="m-4 text-end">
      <%= render "admin/searches/tag_form" %>
    </div>
  </div>
</div>
<!--一覧項目-->
<div class="container text-center">
  <div class="row">
    <div class="col-11">
    <table class="table">
      <thead class="bg-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ステータス</th>
          <th>タグ</th>
        </tr>
      </thead>
<!--登録内容-->
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.excluded_price.to_s(:delmited) %> 円</td>
            <td>
              <div class="font-weight-bold">
                <% if item.is_status == true %>
                  <p class="text text-success">販売中</p>
                <% else %>
                  <p class="text text-secondary">売り切れ</p>
                <% end %>
              </div>
            </td>
            <td>
              <% item.tags.each do |tag| %>
                <%= link_to tag.name, admin_search_path(content: tag.name, model:"tag", method: "perfect") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<!--ページネーション-->
      <%= paginate @items %>
    </div>
  </div>
</div>