<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
  <div class= col-11>
    <h3 class="text-center pt-3">商品新規登録</span></h3>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-7">
        <table class="table table-borderless">
          <tr>
            <td>商品画像</td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>商品名</td>
            <td><%= f.text_field :name, placeholder:"商品名", :size=>"30x10" %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= f.text_area :caption, placeholder:"ここに説明文を記述します", :size=>"30x9" %></td>
          </tr>
          <tr>
            <td>税抜価格</td>
            <td><%= f.text_field :excluded_price, placeholder:"1000", :size=>"19x7" %>円</td>
          </tr>
          <tr>
            <td>タグ</td>
            <td><%= f.text_field :tag_name, :size=>"19x7" %></td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <%= f.radio_button :is_status, true %>
              <%= f.label :is_status, "販売中" %>
              <%= f.radio_button :is_status, false %>
              <%= f.label :is_status, "売り切れ" %>
            </td>
          </tr>
        </table>
      <div class="row justify-content-center pb-5">
        <%= f.submit "新規登録", class:"btn btn-success px-4" %>
      </div>
        <% end %>
      </div>
    </div>
  </div>