<%= review.customer.first_name %>さん
<br>
<%= review.comment %>
<div class="starrate">
  評価：<%= review.rating %>
    <div id="star-<%= index %>"> </div>
    <div id="review-rating-<%= index %>" data-score="<%= review.rating %>"></div>
      <script>
        var elem = document.getElementById('star-<%= index %>');
        var opt = {
        //星画像の指定などのオプションをここに記述,
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          readOnly: true,
          half: true,
            score: function() {
            return $('#review-rating-<%= index %>').attr('data-score');
            }
          };
        raty(elem,opt);
      </script>
</div>